* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nintendo U", sans-serif;
  background-color: #f6f6f6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}
